<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vive la Aventura Colombia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='library/bulma/bulma.css') }}">
    
    <script type="text/javascript" src="{{ url_for('static', filename='library/jquery/jquery-3.3.1.min.js') }}"></script>

    {% block head %}{% endblock %}

</head>
<body>
    
    {% block body %}{% endblock %}

</body>
</html>
